<!DOCTYPE html>
{% load staticfiles %}

<html>
    <head>
        <title>Rango</title>
    </head>
    
    <body>
        <h1>Rango says..</h1>
        <h2>Rango says..</h2>
        <h3>Rango says..</h3>
        <h4>Rango says..</h4>
        <div>
            hey there partner! <br />
            <strong>{{ boldmessage }}</strong>
        </div>
        <div>
            <a href="/rango/about/">About</a><br />
            <img src="{% static 'images/418.jpg' %}"
            alt = "Picture of solar energy"/>
        </div>
    </body>

</html>